<app-modal (isOpenEmitter)="onToggle($event)" [headerTemplate]="editMode ? editModeHeader : exerciseHeader" [bodyTemplate]="editMode ? editModeBody : exerciseBody" [footerTemplate]="exerciseFooter" [hideFooter]="true">
    <div *ngIf="!!exercise" class="card exercise-card">
        <h5 class="card-header">{{exercise.name}}
            <span *ngFor="let desc of exercise.descriptor">
                <span class="badge badge-pill badge-primary">{{desc.name}}</span>
            </span>
        </h5>
        <div class="card-body exercise-body">
            <div class="row exercise-row">
                <div class="col-12 col-sm-6">{{exercise.description}}</div>
                <div class="col-12 col-sm-6">
                </div>
            </div>
        </div>
    </div>
</app-modal>

<ng-template #exerciseHeader>
    <h5>{{exercise?.name}}</h5>
</ng-template>

<ng-template #exerciseBody>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-9">
                <span>
                    {{exercise.description}}
                </span>
            </div>
            <div class="col-12 col-sm-3">
                <span *ngFor="let desc of exercise.descriptor">
                    <span class="badge badge-pill badge-primary">{{desc.name}}</span>
                </span>
            </div>
        </div>
        <div class="row">
            <hr>
            <div class="col-12">
                {{exercise.instructions}}
            </div>
        </div>  
    </div>
</ng-template>

<ng-template #exerciseFooter>
    <div class="pull-left">
        <button *ngIf="!!editMode" class="btn btn-danger" (click)="deleteExercise()">DELETE</button>
    </div>
    <button *ngIf="!!editMode" form="editExerciseForm" class="btn btn-primary" type="submit">Save</button>
    <button *ngIf="!!editMode" class="btn btn-primary" (click)="resetForm()">Reset</button>
    <button *ngIf="!editMode" type="button" class="btn btn-primary" (click)="startEditing()">Edit</button>
    <button *ngIf="!!editMode"class="btn btn-primary" type="button" (click)="stopEditing()">View</button>
</ng-template>

<ng-template #editModeHeader>
    <h5>Edit Exercise: {{exercise.name}}</h5>
</ng-template>

<ng-template #editModeBody>
    <form id="editExerciseForm" [formGroup]="editExerciseForm" class="container-fluid" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" formControlName="name">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" formControlName="description">
                </div>
            </div>
            <div class="form-group col-12 col-sm-6" formArrayName="descriptor">
                <label for="descriptor">Descriptors</label>
                <div class="row" *ngFor="let descriptor of descriptors.controls; let i=index" [formGroupName]="i">
                    <div class="col">
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                    <div class="col-auto button-gutters">
                        <button type="button" (click)="addDescriptor()" class="btn btn-primary btn-sm">+</button>
                    </div>
                    <div class="col-auto button-gutters">
                        <button type="button" class="btn btn-danger btn-sm" (click)="onDeleteDescriptor(i)">X</button>
                    </div>  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <label for="instructions">Instructions</label>
                <textarea type="text" class="form-control" id="instructions" formControlName="instructions" rows="5"></textarea>   
            </div>
        </div>
    </form>
</ng-template>