.exercise-card:hover {
    background-color: lightsteelblue;
} 

.pull-left {
    float: left !important;
    margin-right: auto;
}

.card {
    border-width: 2px; 
}

.exercise-heading {
    padding: 10px;
}
.exercise-body {
    padding: 10px;
}
.exercise-row {
    padding: 5px;
    padding-bottom: 10px;
}
.exercise-instructions {
    border:1px solid rgba(0,0,0,.125);
    padding: 5px;
    background-color: rgba(0,0,0,.03);

}
.exercise-buttons {
    padding: 5px;
    padding-top: 10px;
}